body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*----------------HEADER----------------*/

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

/*----------------SECTION HERO----------------*/

.hero {
  background-color: #1e1823;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/*----------------SECTION FEATURES----------------*/

.features {
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*----------------SECTION TASTE----------------*/

.taste {
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.accent {
  color: #fd9222;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
}

.taste-list-item {
}

.taste-image {
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

/*----------------SECTION MADE----------------*/

.made {
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.accent {
  color: #fd9222;
}
.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-list {
}

.made-item {
}

.made-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*----------------SECTION REVIEW----------------*/

.review {
}
.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

.review-list {
}

.review-item {
}

.review-image {
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #111;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/*---------------- FOOTER ----------------*/

.footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
