/*----------------GLOBAL STYLES----------------*/

* {
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; /* to center the container */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

/*----------------HEADER----------------*/

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;

  /*alternative for hoover, focus, etc.: (include pseudo selectors into class) 
  &:hover,
  &:focus {
  color: #fd9222; 
  } */
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}
/*alternative: 
.header-menu-link:is(:hover, :focus) {
color: #fd9222 }
*/

/*----------------SECTION HERO----------------*/

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-wrapper {
  padding: 380px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  /*width: 484px; to fix the width of the title but its better to use not more than i.e. max-width*/
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/*----------------SECTION FEATURES----------------*/

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*----------------SECTION TASTE----------------*/

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto; /* to center the block */
  margin-bottom: 28px;
}

.accent {
  color: #fd9222;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
}

.taste-list-item {
}

.taste-image {
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

/*----------------SECTION MADE----------------*/

.made {
}
.made-title {
}
.accent {
  color: #fd9222;
}
.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-list {
}

.made-item {
}

.made-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*----------------SECTION REVIEW----------------*/

.review {
}
.review-title {
}

.accent {
  color: #fd9222;
}

.review-list {
}

.review-item {
}

.review-image {
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #111;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/*---------------- FOOTER ----------------*/

.footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
